[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "==4.0.1"
autopep8 = "==1.6.0"
livereload = "==2.6.3"
pyinstaller = "==5.0"

[packages]
django = "==4.0.4"

[requires]
python_version = "3.8"